.clearfix
  clearfix()

.sp
  display block

.content
  height 100%
  width 100%

.main-content
  margin 0 0 0 245px

.bg-mr-coffee-and-tea-cup
  background linear-gradient(left,#fc99df 0%, #EBC8E5 100%)

.bg-mr-coffee
  background linear-gradient(left, #cdbcf6 0%, #f8e3a0 100%)

.bg-warhol
  background linear-gradient(left, #f9dfa9 0%, #ffc6ee 100%)

.bg-dress-flower
  background linear-gradient(left, #f9dfa9 0%, #ffc6ee 100%)

.bg-band-aid
  background linear-gradient(left, #f6e5a4 0%, #dafdeb 100%)

.bg-cookie-constellation
  background linear-gradient(left, #a55ecf 0%, #bfd2ff 100%)

.bg-arcoiris
  background linear-gradient(left, #a55ecf 0%, #bfd2ff 100%)

.bg-poetry-fest
  background linear-gradient(left, #cdbcf6 0%, #f8e3a0 100%)

.bg-bad-girl
  background linear-gradient(left, #a55ecf 0%, #bfd2ff 100%)

.bg-sagittarius
  background linear-gradient(left, #a55ecf 0%, #bfd2ff 100%)

.bg-card
  background linear-gradient(left, #d6f7ed 0%, #c8b8ff 100%)

.bg-pipo-and-me
  background linear-gradient(left, #d6f7ed 0%, #c8b8ff 100%)

.base-box
  font-family 'DroidSans', 'Helvetica Neue'
  color #7d7d7b
  padding 40px 0
  .box-slider
    background white
    margin 0 40px
    padding 40px 0
    width 731px

  .separator
    border-bottom 1px solid #ECECEC

  .header-box
    padding 0 20px 10px 20px
    @extends .clearfix
    .links
      float right
      width 220px
      font-size 12px
      text-align right
      a
        display inline-block
    .previous
      text-decoration none
      color #7d7d7b
    .next
      text-decoration none
      color #7d7d7b
      margin 0 0 0 10px
    .title
      float left
      font-size 17px
      font-weight 100
      width 400px
      margin 0
      color rgb(125, 125, 123)
  .body-box
    padding 30px 20px 0 20px
  .footer-box
    padding 20px 20px
    width 100%
    .description
      @extends .clearfix
    .col-des
      width 50%
      float left

    .title-des
      font-size 12px
      color rgb(125, 125, 123)

    .body-des
      font-size 11px
.base-box-1
  font-family 'Trebuchet MS'
  .separator
    margin 30px 0
  .body-box
  .header-box
  .footer-box
    padding 0 30px

  .box-slider
    width 773px
  .note
    font-size 15px !important
    margin 20px 0 0 0 !important
  h3 
    margin 0

  h2
    margin  0 0 50px 0