body
html
  margin 0
  padding 0
  height 100%
  min-height 100%
  font-size 16px

#container
  height 100%

#content
  @extends .clearfix

#home
  background url(../images/bg-home.jpg) fixed top center no-repeat
  width 100%

  .welcome
    @extends .font-normal
    color white
    height 292px
    margin-top -146px
    top 50%
    position absolute
    font-size 1.8em
    width 100%
    text-align center
  h1
    display none

  .logo
    border 0
    height auto
    width 0
    opacity 0
    position absolute
    top 75px
    left 50%
    margin-left 0

  .emanrique
    top 160px
    width 478.5
    height auto
    opacity 0
    position relative
    margin 0 auto


#menu
  position fixed
  top 15px
  right 15px

  .button-menu
    display block
    background #4CDC8C
    padding 10px
    border none
    border-bottom 3px solid #369A62
    outline none

    .line
      display block
      height 1px
      background white
      margin-top 8px
      width 20px
      &:first-child
        margin-top 0

    &:active
      border-bottom none
      position relative
      top 4px

