@css{

  @font-face {
    font-family: 'Titillium';
    src: url('../typos/titilliumweb-regular.eot');
    src: url('../typos/titilliumweb-regular?#iefix') format('embeded-opentype'),
         url('../typos/titilliumweb-regular.woff') format('woff'),
         url('../typos/titilliumweb-regular.ttf')  format('truetype'),
         url('../typos/titilliumweb-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'League Gothic';
    src: url('../typos/leaguegothic.eot');
    src: url('../typos/leaguegothic?#iefix') format('embeded-opentype'),
         url('../typos/leaguegothic.woff') format('woff'),
         url('../typos/leaguegothic.ttf')  format('truetype'),
         url('../typos/leaguegothic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bree Serif';
    src: url('../typos/breeserif-regular.eot');
    src: url('../typos/breeserif-regular?#iefix') format('embeded-opentype'),
         url('../typos/breeserif-regular.woff') format('woff'),
         url('../typos/breeserif-regular.ttf')  format('truetype'),
         url('../typos/breeserif-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Titillium Web Light';
    src: url('../typos/titilliumweb-light.eot');
    src: url('../typos/titilliumweb-light?#iefix') format('embeded-opentype'),
         url('../typos/titilliumweb-light.woff') format('woff'),
         url('../typos/titilliumweb-light.ttf')  format('truetype'),
         url('../typos/titilliumweb-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}