//
_total_width = 1200px

.font-normal
  font-family 'Titillium Web'
  font-weight 400

.font-bold
  font-family 'Titillium Web'
  font-weight 600

.font-alter
  font-family 'Bree Serif'
  font-weight 100


.font-alter-2
  font-family 'League Gothic'
  font-weight 100