extend _layout
prepend vars
  - custom.active_menu = 0
block content
  #home.page
    .welcome
      h1 Elizabeth manrique
      img(src=handler.static_url('images/logo.png')).logo
      img(src=handler.static_url('images/emanrique.png')).emanrique
  //- #about-me.page
  //-   .inner
  //-     .brief
  //-       span Soy una 
  //-       span.highligth apasionada 
  //-       span del 
  //-       span.highligth desarrollo frontend web
  //-       span , actualmente resido en 
  //-       span.highligth Lima 
  //-       span y esto es lo que hago:
  //-     .skills
  //-       .skill
  //-         .title-skill
  //-         .body-skill
  //-           .overlay-skill
  //-           imag(src=handler.static_url('images/front-skill.png'))
  //-         .des-skill
  //-           | I think jade, stylus and gruntjs  it’s a most powerfull pair tools  for build the best frontend
  //-     